.home_gear_header{
  max-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: $tablet-width){
    max-height: 16px;

    img{
      max-width: 35px;
      max-height: 14px;
    }
  }

  span{
    @include body-small-font();
    color: #F8FAFFE5;

    @media(max-width: $tablet-width){
      font-size: 12px;
    }
  }
}

.home_gear1{
  @include home_gear();
  position: relative;

  .home_gear1_wrapper{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media(max-width: $tablet-width){
      margin-top: 50px;
      gap: 36px;
    }

    @media(max-width: $mobile-width){
      margin-top: 36px;
      gap: 24px;
    }

    .home_gear1_info_container{
      display: flex;
      justify-content: space-between;
      position: relative;

      @media(max-width: $mobile-width){
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
      }

      .home_gear1_info_label{
        @include body-large-font();
        color: #F8FAFF;
        cursor: default;
        height: fit-content;
        min-width: 50%;
        position: sticky;
        top: 120px;
        align-self: flex-start;
        transition: all ease 0.3s;

        &:hover {
          color: #0F5EF7 !important;
        }

        @media(max-width: $tablet-width){
          font-size: 20px;
          color: #0F5EF7;
          top: 80px;
        }

        @media(max-width: 420px){
          font-size: 17px;
        }

        @media(max-width: $mobile-width){
          font-size: 16px;
          position: relative;
          top: 0;
        }
      }

      .home_gear1_info_text_container{
        max-width: 651px;
        display: flex;
        flex-direction: column;
        gap: 36px;

        @media(max-width: $tablet-width){
          max-width: 376px;
          gap: 20px;
        }

        @media(max-width: $mobile-width){
          max-width: 335px;
          gap: 16px;
        }

        h2{
          color: #F8FAFFE5;

          @media(max-width: $tablet-width){
            font-size: 30px;
          }
        }

        .home_gear1_info_text_container_text{
          @include body-small-font();
          color: #F8FAFFE5;

          @media(max-width: $tablet-width){
            font-size: 12px;
          }

          .home_gear1_info_text_container_text_colored{
            color: #0F5EF7;
          }
        }
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}
