footer{
  color: white;
  margin-top: auto;
  margin-bottom: 30px;
  width: 100%;

  .footer_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: min(1220px, calc(100vw - 40px));
    height: 384px;
    margin: 0 auto;
    position: relative;

    .footer_logo{
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 90%;
      z-index: -100;
    }

    .footer_nav{
      height: 231px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      justify-content: space-between;

      .footer_nav_list{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 36px;

        .footer_nav_list_title{
          @include caption-small-font();
          text-transform: uppercase;
          white-space: nowrap;
        }

        .footer_nav_list_list{
          @include caption-small-font();
          font-weight: 500;
          display: flex;
          flex-direction: column;
          gap: 16px;

          li {
            word-break: break-word;
            overflow-wrap: break-word;
          }
        }
      }
    }

    .footer_lower{
      @include caption-small-font();
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }


    @media(max-width: $tablet-width){
      .footer_logo{
        top: 0;
        max-width: min(420px, calc(100vw - 40px));
        height: 118px;
      }

      .footer_nav{
        display: none !important;
      }

      .footer_lower{
        flex-direction: column;
        font-size: 9px;
        gap: 8px;
      }
    }

    @media(max-width: $mobile-width){
      .footer_logo{
        max-width: min(335px, calc(100vw - 40px));
        height: 93px;
      }
    }
  }

  @media(max-width: $tablet-width){
    .footer_wrapper{
      max-width: min(420px, calc(100vw - 40px));
      height: 186px;
      justify-content: flex-end;
    }
  }

  @media(max-width: $mobile-width){
    .footer_wrapper{
      max-width: min(335px, calc(100vw - 40px));
      height: 147px;
      justify-content: flex-end;
    }
  }
}