.header {
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  color: #F8FAFF;

  @media(max-width: $tablet-width){
    height: 57px;
  }

  @include offSelect();

  .header_wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 30px 31px 30px 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include body-small-font();
    font-size: 16px;

    .header_hamburger {
      display: none;
    }

    .header_signIn {
      @include body-small-font();
      font-size: 16px;
      width: 120px;
      height: 36px;
      background: #1C1E25CC;
      color: #F8FAFF;
      padding: 11px 16px 11px 16px;
      border: 0.5px solid #F8FAFFE5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity ease 0.3s;

      &.two{
        background: #1C1E2580;
      }

      &.one, &.go{
        background: #1C1E2500;
      }
    }

    .header_nav {
      position: relative;

      .header_menu {
        display: flex;
        gap: 36px;
        position: relative;
      }

      .header_menu_item {
        display: flex;
        align-items: center;
        height: 21px;
        gap: 8px;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        button {
          @include body-small-font();
          font-size: 16px;
          transition: color 0.2s ease;
        }

        .header_menu_item_arrow_unselected,
        .header_menu_item_arrow_selected {
          transition: transform 0.4s ease, opacity 0.4s ease;
        }

        .header_menu_item_inner {
          display: flex;
          align-items: center;
          gap: 8px;
          transition: transform 0.4s ease;
        }

        &:hover .header_menu_item_inner {
          animation: flyUpFromBottom 0.7s ease forwards;
        }

        .header_menu_item_arrow_selected {
          display: none;
        }

        &.active {
          button {
            color: #0F5EF7;

            &:hover{
              opacity: 1;
            }
          }

          .header_menu_item_arrow_unselected {
            display: none;
          }

          .header_menu_item_arrow_selected {
            display: flex;
          }

          @keyframes flyUpFromBottom {
            0% {
              transform: translateY(0);
              opacity: 1;
            }
            30% {
              transform: translateY(-150%);
              opacity: 1;
            }
            31% {
              transform: translateY(150%);
              opacity: 1;
            }
            70% {
              transform: translateY(0);
              opacity: 1;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }


      @media(max-width: 900px){
        .header_menu{
          gap: 10px !important;
        }
        .header_menu_item{
          gap: 4px;
        }
      }

      .nav_dropdown_container {
        position: absolute;
        width: 100%;
        top: 21px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease 0.1s;
        scale: 0;
        z-index: 1000;

        &.active {
          display: block;
          visibility: visible;
          scale: 1;
          opacity: 1;
        }

        .nav_dropdown {
          background: #1C1E25CC;
          height: 100px;
          border-radius: 10px;
          padding: 39px 40px 39px 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:has(a:only-of-type) {
            justify-content: center;
          }
        }
      }
    }

    @media(max-width: $tablet-width) {
      .header_logo {
        width: 60px;
        height: 17px;
      }

      .header_nav {
        display: none;
      }

      .header_signIn {
        display: none;
      }

      .header_hamburger {
        display: flex;
        background: transparent;
        border: none;
      }
    }
  }

  @media(max-width: $tablet-width) {
    .header_wrapper {
      height: 17px;
      max-width: 703px;
      padding: 0;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media(max-width: $tablet-width){
  header{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}
